$accent: #3ab6ec;
$background: #f0f4f7;
$background2: #fff;
$background3: #fff;
$foreground: #28282d;
$foreground2: #818990;
$foreground3: #c1ccd3;
$foreground4: #e0e9ec;
$foreground-secondary: #fff;
$destructive: #f94241;
$half-destructive: #fc8b65;
$constructive: #1fba66;
$half-constructive: #9bde66;
$attention: #ffaa00;
$other: #5d3faf;
$accent-background: #f1fafe;
$accent-background2: #d8f0fb;
$destructive-background: #fff0f0;
$destructive-background2: #fff9e9;
$constructive-background: #e9fbef;
$constructive-background2: #d2fae1;
$attention-background: #fef6ed;
$attention-background2: #ffeccc;
$other-background: #f3f0fb;
$fixed-white: #fff;
$disable-button-text: #c1ccd3;
